<div class="home content">
  <main class="main">
    <div class="logo mask">
      <img src="assets/img/me-rounded.png" />
    </div>
    <div class="about">
      <p>
        Desenvolvedor web, apaixonado por tecnologia e pelas novidades do mundo do desenvolvimento. 
        Trabalhando com Java e Spring Boot mas sempre de olho no Javascript, brincando com React, NextJs e NodeJs. 
        Sempre dou meu máximo naquilo que faço, corro atrás e aprendo rápido, não porque sou um gênio ou algo do tipo 
        mas porque sou esforçado e gosto de aprender. 
        Me considero um eterno aprendiz e acredito que a linguagem de programação é apenas um meio para o fim, 
        e que um bom programador não pode ser apegado por uma linguagem ou framework, 
        porquê sempre haverá uma ferramenta melhor para determinada tarefa, 
        por isso é necessário estar disposto a aprender e adaptar-se sempre que preciso.
      </p>
    </div>
  </main>
  <footer class="footer">
    <div class="socials">
      <div class="social">
        <a href="https://www.linkedin.com/in/jbqneto/" target="_blank">
          <i class="bi bi-linkedin"></i>
          <span>in/jbqneto/</span>
        </a>
      </div>
      <div class="social">
        <a href="https://github.com/jbqneto" target="_blank">
          <i class="bi bi-github"></i>
          <span>/jbqneto</span>
        </a>
      </div>
    </div>
  </footer>
</div>