html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  background: linear-gradient(#0c1a25, #010006);
}

.full-flex {
  width: 100%;
  height: auto;
  display: flex;
}